*{
    margin: 0;
    padding: 0;
}


/* header menu bar start  */

header{
    max-width: 1170px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header menu bar end  */